@use '../../styles/variables' as v;

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #222;
  }
  
  p {
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .service-btn {
    background-color: v.$color-button ;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: darken(v.$color-button, 10%);
    }
  }
}