@use '../../styles/variables' as v;

.slider-gallery {
  width: 100%;
  // margin: v.$spacing-md 0;
  position: relative;
  overflow: hidden;
  //border-radius: v.$border-radius;
  box-shadow: v.$box-shadow;
  
  .slider-container {
    position: relative;
    width: 100%;
    height: 700px; // Altura fija para el slider
    
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: top center;
      object-fit: cover; // Asegura que las imágenes cubran todo el espacio
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      
      &.active {
        opacity: 1;
        z-index: 1;
      }
    }
  }
  
  .slider-indicators {
    position: absolute;
    bottom: v.$spacing-sm;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    
    .indicator {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 v.$spacing-xs;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      cursor: pointer;
      padding: 0;
      
      &.active {
        background-color: v.$color-primary;
      }
    }
  }
}

@media (max-width: v.$breakpoint-md) {
  .slider-gallery {
    .slider-container {
      height: 200px;
    }
  }
}